# database
HT_DB_NAME=hiretea
HT_DB_USER=hiretea
HT_DB_PASSWORD=hiretea
DB_PORT=5432

# gitea database
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_DB_PASSWORD=gitea

# application
HIRETEA_APP_BUILD_TARGET=production
HIRETEA_APP_MODE=start
APP_HTTP_PORT=3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=hiretea-dev-secret-key-change-me
BOOTSTRAP_TOKEN=hiretea-dev-bootstrap-token-change-me
AUTH_GITEA_ID=hiretea-dev-oauth-client-id
AUTH_GITEA_ISSUER=http://localhost:3001
GITEA_ADMIN_BASE_URL=http://gitea:3000

# application details
hiretea_ADMIN_NAME="Hiretea Admin"
hiretea_ADMIN_EMAIL="admin@hiretea.local"
hiretea_COMPANY_NAME="Hiretea Workspace"
hiretea_DEFAULT_BRANCH="main"
hiretea_MANUAL_INVITE_MODE=true

# gitea service
GITEA_HTTP_PORT=3001
GITEA_SSH_PORT=2221
GITEA_DOMAIN=localhost
GITEA_PUBLIC_URL=http://localhost:3001
GITEA_INTERNAL_TOKEN=hiretea-dev-internal-token-change-me
GITEA_SECRET_KEY=hiretea-dev-secret-key-change-me

# gitea admin initialization
GITEA_ADMIN_EMAIL=admin@hiretea.local
GITEA_ADMIN_PASSWORD=HireTeaAdmin!23
GITEA_ADMIN_USERNAME=hiretea-admin
GITEA_ORGANIZATION_NAME=hiretea
GITEA_WEBHOOK_SECRET=hiretea-dev-webhook-secret-change-me
